<!DOCTYPE html>
<html>
<head>
    <title>Test Task For Web Laboratory</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEQABEQABEAERAAERAAEQAAAREAAREAAAABEQABEQAAAAERAAERAAAREAAREAARABEQABEQABEAERAAERAAEQAAAREAAREAAAABEQABEQAAAAERAAERAAAREAAREAARABEQABEQABEAERAAERAAEQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
</head>

<body ng-app="app">
    <div ng-controller="RoundSquareGameCtrl" ng-init="initGameField()">
        <div class="game-field js-game-field">
            <div ng-repeat="f in figures" ng-style="f.getCss()"
                 ng-click="f.click($event)" data-ng-attr-index="{{$index}}" class="ng-scope"></div>
        </div>
    </div>

    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>